* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding: 150px;
    font-family: 'Tenor Sans', sans-serif;
    background-color: #dde1e7;
}

#box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, 0.3);
}

form {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin: 0 auto 50px auto;
}

input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(94, 104, 121, 0.3);
}

button {
    padding: 5px 10px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.3);
}

button:hover {
    cursor: pointer;
}

.left,
.right {
    width: 49%;
    padding: 10px 0;
    overflow: hidden;
}

.left {
    padding-left: 3%;
}

.right {
    position: relative;
    padding: 20px 5px 0 5px;
    border-left: 1px solid rgba(94, 104, 121, 0.3);
}

.capital,
.population,
.region,
.currency {
    width: 100%;
    height: 70px;
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid rgba(94, 104, 121, 0.3);
}

.currency {
    border: none;
}

img {
    width: 100%;
}

.right p {
    position: absolute;
    bottom: 10px;
    right: 20px;
}